<section>
    <div class="flex flex-col items-center min-h-screen">
        <h1 class="font-bold m-1 text-2xl md:text-xl md:m-5 text-center">Using the AEM Archetype to create stable AEM
            packages</h1>
        <div class="flex flex-col justify-center md:min-h-96 m-5 md:m-1 text-xl w-11/12 md:w-2/3">
            <p class="m-5">Last week I was pulled into a customer issue where the deployed packages were not installing correctly. I
                decided to start reviewing the customers codebase, based on some of the initial evidence that was
                provided to me.</p>
            
            <p class="m-5">During my analysis of the codebase I discovered that all of the packages were being deployed to the AEM server, including the <span class="italic">all</span> package. This means that the <span class="italic">ui.apps</span>, <span class="italic">ui.content</span> and <span class="italic">ui.config</span> are being deployed and then being deployed once more via the <span class="italic">all</span> package</p>

            <p class="m-5 break-words">Let me stop there and explain how a package is not "selected" to be deployed, when you see the <span class="italic">&lt;cloudManagerTarget&gt;none&lt;/cloudManagerTarget&gt;</span> in the <a class="hover:text-blue-500 underline" href="https://github.com/adobe/aem-project-archetype/blob/develop/src/main/archetype/ui.apps/pom.xml#L48-L93" target="_blank">pom.xml</a> that's how you know the package will be skipped. This means that when cloud manager looks at the packages it should deploy it will review the properties.xml file within the package and if it sees this property within the file it will not deploy this file. If you wish to mark your package to something that needs to be deployed you can use any other value other then <span class="italic">none</span> or just omit the property.</p>

            <p class="m-5">Now that we know what it takes for a package to be skipped, let me follow up with something else that is very important, you should only be deploying 1 package per project. That package should be the <span class="italic">all</span> package. The <span class="italic">all</span> package is composed package, which means it does not have any content or code its a wrapper for other packages. The following items are typically what are in the <span class="italic">all</span> package</p>

            <div class="flex w-full ml-5 mr-5 mb-5 mt-1 justify-center items-center">
                <ul>
                    <li> > ui.apps</li>
                    <li> > ui.content</li>
                    <li> > ui.config</li>
                    <li> > core</li>
                </ul>
            </div>

            <p class="m-5">This is very important, notice how we don't have ui.apps.structure even though we see it in the <a class="hover:text-blue-500 underline" href="https://github.com/adobe/aem-project-archetype/tree/develop/src/main/archetype/ui.apps.structure" target="_blank">archetype</a> but its never being embedded in the <a class="hover:text-blue-500 underline" href="https://github.com/adobe/aem-project-archetype/blob/develop/src/main/archetype/all/pom.xml#L51-L218" target="_blank"><span class="italic">all</span></a> package. This means when you decide to embed a package make sure to check what the sample project embeds by default.</p> 

            <p class="m-5">Once we fixed the project structure to properly embed the packages as recommended and prevent the packages from being installed independently the deployment was able to install the <span class="italic">all</span> successfully. This means, when working with multiple packages and OSGi bundles make sure to review the archetype. This is there to show you what AEM is expecting as a project strucutre, deviations from this structure can result in pipeline failures which can delay project timelines.</p>
        </div>
        <p class="m-5">
            <a class="text-blue-500 hover:underline bg-gray-200 rounded-full px-2 py-1 inline-block m-2">#aem</a>
            <a class="text-blue-500 hover:underline bg-gray-200 rounded-full px-2 py-1 inline-block m-2">#archetype</a>
            <a class="text-blue-500 hover:underline bg-gray-200 rounded-full px-2 py-1 inline-block m-2">#maven</a>
            <a class="text-blue-500 hover:underline bg-gray-200 rounded-full px-2 py-1 inline-block m-2">#jcr</a>
            <a class="text-blue-500 hover:underline bg-gray-200 rounded-full px-2 py-1 inline-block m-2">#packages</a>
        </p>
    </div>
</section>