<section>
    <div class="flex flex-col items-center min-h-screen">
        <h1 class="font-bold m-1 text-2xl md:text-xl md:m-5">Git Init</h1>
        <div class="flex flex-col justify-center md:min-h-96 m-5 md:m-1 text-xl w-4/5 md:w-2/3">
            <p>This isn't really a blog post more of an intro.
                My name is Patrique and I specialize in an enterprise Java technology, specifically in the CMS
                (Content Management Space). I've been working in this technology space for over a decade, specifically working directly
                with customers to resolve their issues and work on customizations. During that time I have developed various skills that 
                help determine the root cause of complex technological issues.</p>
            <p class="mt-5">
                My goal with this blog is to share my knowledge and experience with others. I will be writing about various topics that I have 
                encountered in my career. Focusing specifically on the point of view from a support engineer and how we can resolve issues. 
            </p>
            <p class="mt-5">
                The unique attribute that comes with a CMS is the customizability of it, meaning that customers can customize the CMS to their liking
                which in most cases can lead to issues. I will be sharing my experience on how to resolve these issues and how to prevent them from happening.
                Tips and tricks that can be leveraged to quickly get to the resolution without needing to spend hours on end trying to figure out the root cause.
            </p>
        </div>
    </div>
</section>