<footer class="bg-black text-white p-4">
    <div class="flex justify-between items-center">
        <p>&copy; Pat Lego.com</p>
        <div class="flex items-start space-x-4">
            <a class="mr-5" href="https://www.linkedin.com/in/patrique-legault" target="_blank">
                <i class="fab fa-linkedin"></i>
            </a>
            <a class="pr-5" href="https://twitter.com/_patlego" target="_blank">
                <i class="fab fa-twitter"></i>
            </a>
        </div>
    </div>
</footer>